* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    display: grid;
    grid-template:
        "header header"auto "nav main"auto "footer footer"auto;
    max-width: 850px;
    min-height: 100vh;
    margin: auto;
    box-shadow: black 3px 3px 10px 3px;
    padding: 20px 40px;
    margin: 10px auto 10px auto;
    background-color: white;
}



h1 {
    font-size: 72px;
    word-break: break-word;
    font-weight: 800;
    margin: 0px;
    font-family: 'Playfair Display', serif;
}

header {
    display: grid;
    grid-area: header;
    grid-template-columns: 3fr 1fr;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

span {
    grid-area: 3;
}

header ul {
    padding: 0px;
}

header li {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    padding: 3px 0px;
}

header ul a {
    text-decoration: none;
}


nav ul ul li {
    padding-left: 15px;
}

footer {
    grid-area: footer;
}

header span {
    font-size: 28px;
}



footer {
    margin-top: 30px;
    text-align: right;
}

html {
    background-color: rgba(0, 0, 0, 0.10);
}

main {
    padding: 10px;
}

nav>ul>li {
    padding-bottom: 10px;
}

ul a,
ul a:visited {
    color: black;
}

nav ul {
    padding: 0px;
}

@media only screen and (max-width: 600px) {
    body {
        grid-template: "header  "
            "nav"
            "main"
            "footer";
    }

    header {
        grid-template-columns: 1fr;
    }

    ul.MyLinks {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav ul {
        padding: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav li li {
        display: none;
    }

    nav li {
        text-align: center;
        font-size: 22px;
        margin: auto;
        border: none;
    }

    nav {
        padding:0px;
        border: none;
        margin:0px;
    }
}