<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhawdge.Net</title>
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="nhawdge.css">
    <link rel="stylesheet" href="all-fontawesome.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

    <meta property="og:title" content="nhawdge.net">
    <meta property="og:description" content="John Pavek's personal site.">
    <meta property="og:image" content="https://nhawdge.net/src/john_portrait.jpg"> 
    <meta name="twitter:title" content="nhawdge.net ">
    <meta name="twitter:description" content=" John Pavek's personal site.">
    <meta name="twitter:image" content=" https://nhawdge.net/src/john_portrait.jpg">
    <meta name="twitter:card" content="summary">
</head>