<header>
    <div>

        <h1>John Pavek</h1>
        <span>
            Web Developer
        </span>
    </div>
    <ul>
        <li>
            <a href="https://github.com/nhawdge">
                <i class="fab fa-github"></i> Github</a>
        </li>
        <li>
            <a href="https://stackoverflow.com/users/7314155/john-pavek">
                <i class="fab fa-stack-overflow"></i> Stack Overflow</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/john-pavek-412320125/">
                <i class="fab fa-linkedin-in"></i> LinkedIn</a>
        </li>
        <li>
            Sioux Falls, SD
        </li>
    </ul>
</header>