<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/">About Me</a>
            <ul>
                <li>
                    <a href="">Professionally</a>
                </li>
                <li>
                    <a href="">Personally </a>
                </li>
                <li>
                    <a href="">Contact Me</a>
                </li>
            </ul>

        </li>
        <li>
            <a href="/">My Projects</a>
            <ul>
                <li>
                    <a href=""> Mennu</a>
                </li>
                <li>
                    <a href=""> Gnaw.js</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/">Stuff for me</a>
        </li>
        <li>
            <a href="/">Million Dollar Ideas</a>
        </li>
    </ul>
</nav>