<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <!-- <li>
            <a href="/About">About Me</a>
            <ul>              
                <li>
                    <a href="/About/Contact.html">Contact Me</a>
                </li>
            </ul>
        </li> -->
        <li>
            <a href="https://github.com/Nhawdge?tab=repositories">My Projects</a>
            <ul>
                <li>
                    <a href="https://github.com/Nhawdge/mennu"> Mennu</a>
                </li>
                <li>
                    <a href="https://github.com/Nhawdge/gnaw.js"> Gnaw.js</a>
                </li>
            </ul>
        </li>

    </ul>
</nav>