<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nhawdge.net</title>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>Nhawdge.net</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <details>
                <summary>Projects</summary>
                <ul>
                    <li>Mennu App</li>
                    <li>Mennu App</li>
                </ul>
            </details>            
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div>
            John Pavek - Copyright 2019
        </div>
    </footer>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
