/* 
    VARIABLES 
*/

:root {
    --main-bg-color: rgba(0, 75, 75, 0.75);
    --text-color-on-bg: #FAFAFA;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgba(0,0,0,0.20)
}

/*
    Header

*/
header {
    text-align: center;
    margin: auto;
    padding-bottom: 25px;
}

    header nav a, details {
        display: inline-block;
        padding: 5px;
        border-radius: 5px;
        color: var(--text-color-on-bg);
        background-color: var(--main-bg-color);
        padding: 12px 10px;
    }

    header nav a {
    }

details ul {
    border: solid black 3px;
    border-radius: 5px;
    position: absolute;
    color: var(--text-color-on-bg);
    background-color: var(--main-bg-color);
    list-style: none;
    padding: 5px;
}

    details ul li:not(:last-child) {
        margin-bottom: 15px;
    }

/*  
    Main
*/

main {
    margin-bottom: 30px;
    padding-bottom: 25px;
    margin: auto;
    max-width: 900px;
}


/*
    footer
*/

footer {
    bottom: 0px;
    width: 90%;
}

    footer div {
        text-align: center;
        margin: auto;
        position: relative;
    }
